[user]
	name = simonhfrost
	email = simonhfrost@gmail.com
[push]
	default = simple
[auto]
	crlf = true
[pull]
	rebase = true
[color]
	ui = true
[alias]
	st = status -s
	lg = log --oneline --decorate --all --graph
	co = checkout
	diff-ws = diff -R
	unstage = reset head [file]
	
