[user]
	name = simonhfrost
	email = simonhfrost@gmail.com
[push]
	default = simple
[auto]
	crlf = true
[pull]
	rebase = true
[color]
	ui = true
[alias]
	fancy-log = log --oneline --decorate --all --graph
	diff-whitespace = diff -R
	unstage = reset head [file]
	reset-to-remote = git reset --hard origin/master
