[core]
        user = Simon Frost
        email = simonhfrost@gmail.com
        excludesfile = ~/.gitignore
[user]
        name = Simon Frost
        email = simon.frost@blacklane.com
[push]
        default = simple
[alias]
        s = status -s
        lg = log --oneline --decorate --all --graph
[pull]
        rebase = true
[color]
        ui = true
